<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.noted</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON}}</string>
        <string>-m</string>
        <string>noted.hub</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOG_PATH}}</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_PATH}}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>NOTED_HOME</key>
        <string>{{NOTES_DIR}}</string>
        <key>NOTED_PORT</key>
        <string>{{PORT}}</string>
    </dict>
</dict>
</plist>
